{% extends 'base.html' %}

{% block title %}Add a Student{% endblock %}

{% block body %}

<h1>Add a Student</h1>
<form action="/student-add" method='POST'>
	<label>Enter First Name: 
        <input type="text" name="fname"><br>
    </label>

    <label>Enter Last Name: 
        <input type="text" name="lname"><br>
    </label>
    
    <label>Enter GitHub username: 
        <input type="text" name="github"><br>
    </label>
    <br>
    <input type="submit" value="Add Student">
</form>

Return to <a href="/">Homepage</a>
{% endblock %}